.git
.env
**/.env
**/.env.*
!.env.example
.shopify
**/.shopify
.react-router
.cache
.DS_Store
node_modules
build
tmp
prisma/*.sqlite*
**/*.sqlite
**/*.sqlite-*
**/*.sqlite3
**/*.db
**/*.db-*
**/*.pem
**/*.key
npm-debug.log*
pnpm-debug.log*
